@import "tailwindcss";

:root {
  --surface: #fcfcfc;
  --text: #151515;
  --link-light: #0073ff;
  --link-dark: #0084FFFF;
}

@theme inline {
  --color-background: var(--surface);
  --color-foreground: var(--text);
  --color-link-dark: var(--link-dark);
  --color-link-light: var(--link-light)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #151515;
    --text: #ededed;
    --link-light: #0073ff;
    --link-dark: #0084FFFF;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

.text-link {
  color: var(--link-light);
}

@media (prefers-color-scheme: dark) {
  .text-link {
    color: var(--link-dark);
  }
}
