@import "tailwindcss";

:root {
  --surface: #fcfcfc;
  --text: #151515;
  --link: #0073ff;
}

@theme inline {
  --color-background: var(--surface);
  --color-foreground: var(--text);
  --color-link: var(--link);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #0a0a0a;
    --text: #ededed;
    --link: #0073ff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
